<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Kadwa:wght@400;700&family=Lacquer&family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&family=Miriam+Libre:wght@400..700&family=Monda:wght@400..700&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body id="client_view_body">
    <p class="weekday_text" id="todays_workout">Monday's Workout</p>

    <div class="button_frame">
        <button id="create_workout" onclick="change_slide(2)">Previous Day</button>
        <button id="create_workout" onclick="change_slide(1)">Next Day</button>
    </div>


    <section id="assign_view_section">

    

    <div class="weekday" id="monday">
    <% for(let i = 0;i<monday.length;i++){ %>
        <div class="weekday_workout">
        <p>Exercise Name: <%= monday[i].name %></p>
        <p>Rounds:<%= monday[i].rounds %></p>
        <p>Time: <%= monday[i].time %></p>
        <p>Rest: <%= monday[i].rest %></p>
       
        
    </div>
    <p class="title" id="red_text">Video:</p>
    <p> <%= monday[i].link %></p>
    <p class="title" id="purple"> Description/Notes:</p>
    <p>Description: <%= monday[i].description %></p>

    <% } %>

    </div>

  
    <div class="weekday" id="tuesday">
        <% for(let i = 0; i < tuesday.length; i++) { %>
            <div class="weekday_workout">
                <p>Exercise Name: <%= tuesday[i].name %></p>
                <p>Rounds: <%= tuesday[i].rounds %></p>
                <p>Time: <%= tuesday[i].time %></p>
                <p>Rest: <%= tuesday[i].rest %></p>
            </div>
            <p class="title" id="red_text">Video:</p>
            <p><%= tuesday[i].link %></p>
            <p class="title" id="purple">Description:</p>
            <p><%= tuesday[i].description %></p>
        <% } %>
    </div>


    <div class="weekday" id="wednesday">
        <% for(let i = 0; i < wednesday.length; i++) { %>
            <div class="weekday_workout">
                <p>Exercise Name: <%= wednesday[i].name %></p>
                <p>Rounds: <%= wednesday[i].rounds %></p>
                <p>Time: <%= wednesday[i].time %></p>
                <p>Rest: <%= wednesday[i].rest %></p>
            </div>
            <p class="title" id="red_text">Video:</p>
            <p><%= wednesday[i].link %></p>
            <p class="title" id="purple">Description:</p>
            <p><%= wednesday[i].description %></p>
        <% } %>
    </div>


    <div class="weekday" id="thursday"> 
        <% for(let i = 0; i < thursday.length; i++) { %>
            <div class="weekday_workout">
                <p>Exercise Name: <%= thursday[i].name %></p>
                <p>Rounds: <%= thursday[i].rounds %></p>
                <p>Time: <%= thursday[i].time %></p>
                <p>Rest: <%= thursday[i].rest %></p>
            </div>
            <p class="title" id="red_text">Video:</p>
            <p><%= thursday[i].link %></p>
            <p class="title" id="purple">Description:</p>
            <p><%= thursday[i].description %></p>
        <% } %>
    </div>

    
    <div class="weekday" id="friday">
        <% for(let i = 0; i < friday.length; i++) { %>
            <div class="weekday_workout">
                <p>Exercise Name: <%= friday[i].name %></p>
                <p>Rounds: <%= friday[i].rounds %></p>
                <p>Time: <%= friday[i].time %></p>
                <p>Rest: <%= friday[i].rest %></p>
            </div>
            <p class="title" id="red_text">Video:</p>
            <p><%= friday[i].link %></p>
            <p class="title" id="purple">Description:</p>
            <p><%= friday[i].description %></p>
        <% } %>
    </div>

   
    <div class="weekday" id="saturday">
        <% for(let i = 0; i < saturday.length; i++) { %>
            <div class="weekday_workout">
                <p>Exercise Name: <%= saturday[i].name %></p>
                <p>Rounds: <%= saturday[i].rounds %></p>
                <p>Time: <%= saturday[i].time %></p>
                <p>Rest: <%= saturday[i].rest %></p>
            </div>
            <p class="title" id="red_text">Video:</p>
            <p><%= saturday[i].link %></p>
            <p class="title" id="purple">Description:</p>
            <p><%= saturday[i].description %></p>
        <% } %>
    </div>


    <div class="weekday" id="sunday">
        <% for(let i = 0; i < sunday.length; i++) { %>
            <div class="weekday_workout">
                <p>Exercise Name: <%= sunday[i].name %></p>
                <p>Rounds: <%= sunday[i].rounds %></p>
                <p>Time: <%= sunday[i].time %></p>
                <p>Rest: <%= sunday[i].rest %></p>
            </div>
            <p class="title" id="red_text">Video:</p>
            <p><%= sunday[i].link %></p>
            <p class="title" id="purple">Description:</p>
            <p><%= sunday[i].description %></p>
        <% } %>
    </div>

</div>

</section>

<script src="/js/slides.js"></script>

    
</body>
</html>