<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <p>edit workout</p>
    <p><%= workout_name %></p>

    <% exercises.forEach(function(exercise) { %>

        <div class="edit_workout_row">

        <p><%= exercise.name %></p>
        <p><%= exercise.rounds %></p>
        <p><%= exercise.time %></p>
        <p><%= exercise.rest %></p>
        <p><%= exercise.link %></p>
        <p><%= exercise.description %></p>
        <button onclick="set_w_id('<%= exercise.we_id %>', '<%= exercise.name %>')">edit</button>
        <button onclick="delete_from_workout('<%= exercise.we_id %>')">delete</button>

    </div>




        <% }) %>


      <p id="currently_editing">Currently Editing no exercises</p>


      <form >
        <label for="e_name">Excercise Name:</label>
        <input type="text" id="e_name" name="e_name" ><br><br>

        <label for="rounds">Rounds:</label>
        <input type="number" id="rounds" name="rounds" ><br><br>

        <label for="time">Round Time:</label>
        <input type="number" id="time" name="time" ><br><br>

        <label for="rest">Rest:</label>
        <input type="number" id="rest" name="rest" ><br><br>

        <label for="link">Video Link:</label>
        <input type="text" id="link" name="link" ><br><br>



        <label for="description">Description:</label>
        <input type="text" id="description" name="description" ><br><br>

        <button type="button" onclick="edit_workout_exercise()">Submit</button>
    </form>



        <script src="/js/workouts_requests.js"></script>


    
</body>
</html>