<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Concert+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Kadwa:wght@400;700&family=Lacquer&family=Londrina+Solid:wght@100;300;400;900&family=Luckiest+Guy&family=Miriam+Libre:wght@400..700&family=Monda:wght@400..700&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <section class="row_frame_space_between" id="username_and_logout"> 
        <p class="title_text">Veortiz1</p>
        <button class="small_button" id="red_button">Logout</button>

    </section>


    

    <section class="add_client" id="add_client">
        <form id="add_client_form">
   
            <br>
            <button type="button" onclick="add_client_home()" class="small_button" id="red_button">Go Back</button>
            <p class="title_text">Add Client</p>
            <img src="/icons/client.png" class="add_icon" alt="">
            <p class="sub_title">*Only Name is required. Height,weight,experience, can only be numbers or decimals. Phone must be in fromat 1234567890(no dashes or symbols only numbers).</p>
          


           
           
            <input type="text" id="name" name="name" placeholder="Name" >
    
    
        
           
            <input type="text" id="height" name="height" placeholder="Height (Optional)" >
       
    
       
            <input type="text" id="weight" name="weight" placeholder="Weight  (Optional)">
    
    
     
          
            <input type="text" id="experience" name="experience" placeholder="Experience  (Optional)"> 

      

            <input type="hidden" id="csrf_add" value="<%= csrf %>">
    
    
    
       
            <input type="text" id="phone" name="phone" required placeholder="Phone Number  (Optional)">
  
    
            
            <button type="button" onclick="create_client()" class="small_button" id="tan_button">Add Client</button>
            <p id="error"></p>

        </form>
    </section>


    <section class="add_exercise" id="add_exercise">
        <form id="add_excercise_form">
            <br>
            <button type="button" onclick="add_client_home()" class="small_button" id="red_button">Go Back</button>
            <p class="title_text">Add Exercise</p>
            <img src="/icons/exercise.png" alt="" class="add_icon">
            <p class="sub_title">Enter exercise information, you can edit it later, name,rounds,time,and rest are required to create an exercise.</p>
           
            
            <input type="text" id="e_name" name="e_name" required placeholder="Exercise Name">
    
         
            <input type="text" id="rounds" name="rounds" required placeholder="Rounds">
    
       
            <input type="text" id="time" name="time" required placeholder="Time (in Seconds)">
    
       
            <input type="text" id="rest" name="rest" required placeholder="Rest (in Seconds) ">
    
           
            <input type="text" id="link" name="link" placeholder="Youtube Link (Optional)" >
    
    
    
          
            <input type="text" id="description" name="description" placeholder="Description (300 word limit) (Optional)">
    
            <input type="hidden" id="csrf_add" value="<%= csrf %>">
    
            <button type="button" onclick="create_excercise()" class="small_button" id="tan_button">Add Exercise</button>
            <p class="error" id="error1"></p>
         
    
        </form>

    </section>


    <div class="title_frame">
        <p class="title_text">Create and Send Workouts </p>
    </div>

    <section class="row_frame_space_evenly" id="create_send_workouts">

        <div class="create_send_workout_box">
            <div class="create_send_workout_box_left">
                <p class="box_title">Total Clients</p>
                <p class="box_count">21</p>
                <button class="small_button" id="tan_button" onclick="add_client_view()">Create Client</button>

            </div>
            <div class="create_send_workout_box_right">
                <img src="/icons/client.png" alt="" class="add_icon">
            </div>

        </div>

        <div class="create_send_workout_box">
            <div class="create_send_workout_box_left">
                <p class="box_title">Total Exercises</p>
                <p class="box_count">21</p>
                <button class="small_button" id="tan_button" onclick="add_exercise_view()">Create Exercise</button>

            </div>
            <div class="create_send_workout_box_right">
                <img src="/icons/exercise.png" alt="" class="add_icon">
            </div>

        </div>

        <div class="create_send_workout_box">
            <div class="create_send_workout_box_left">
                <p class="box_title">Total Workouts</p>
                <p class="box_count">21</p>
                <button class="small_button" id="tan_button" onclick="add_workout_view()">Create Workout</button>

            </div>
            <div class="create_send_workout_box_right">
                <img src="/icons/workout.png" alt="" class="add_icon">
            </div>

        </div>

        <div class="create_send_workout_box">
            <div class="create_send_workout_box_left">
                <p class="box_title">Assign Workouts</p>
                <p class="box_body">Assign workout's to your clients.</p>
                <p class="small_button" id="tan_button">Assign Workout</p>

            </div>
            <div class="create_send_workout_box_right">
                <img src="/icons/assign.png" alt="" class="add_icon">
            </div>

        </div>

        <div class="create_send_workout_box">
            <div class="create_send_workout_box_left">
                <p class="box_title">Send Workouts</p>
                <p class="box_body">Send the workouts you assigned, to your clients.</p>
                <p class="small_button" id="tan_button">Send Workout</p>

            </div>
            <div class="create_send_workout_box_right">
                <img src="/icons/send.png" alt="" class="add_icon">
            </div>

        </div>


    </section>


    <div class="title_frame">
        <p class="title_text">Data </p>
    </div>

    <section class="row_frame_space_evenly" id="chart_frame">
      
        <div class="chart_box">
        <canvas id="height_weight_graph"></canvas>
    </div>

    <div class="chart_box">
        <canvas id="experience_graph"></canvas>
    </div>

    <div class="chart_box">
        <canvas id="round_time_graph"></canvas>
    </div>

    <div class="chart_box">
        <canvas id="height_graph"></canvas>
    </div>


    <div class="chart_box">
        <canvas id="weight_graph"></canvas>
    </div>


    <div class="chart_box">
        <canvas id="rounds_graph"></canvas>
    </div>
    </section>

    <div class="title_frame">
        <p class="title_text">Manage Clients/Workouts Exercises </p>
    </div>


    <section class="choose_table_buttons" id="choose_table_buttons">
        <button class="small_button" id="tan_button" onclick="client_table()">Clients</button>
        <button class="small_button" id="tan_button" onclick="exercise_table()">Exercises</button>
        <button class="small_button" id="tan_button" onclick="workout_table()">Workouts</button>
    </section>


    <section class="tables" id="tables">
        <div id="client_table">
        <table >
            <tr>
                <th id="border_left">Name</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Experience</th>
                <th>Phone Number</th>
                <th>Edit</th>
                <th id="border_right">Delete</th>
            </tr>
            
            <tr>
                <% clients.forEach(function(client) { %>
                    <tr>
       
                        <td id="border_left"><p><img src="/icons/name.png" alt=""> <%= client.name %> </p></td>
              
                        <td> <p><img src="/icons/height.png" alt=""> <%= client.height %> Inches </p></td>
              
                        <td><p><img src="/icons/weight.png" alt=""><%= client.weight %> Lbs </p> </td>
                        <td> <p> <img src="/icons/exp.png" alt=""><%= client.exp %> Years </p></td>
                        <td><p><img src="/icons/phone.png" alt=""><%= client.phone %></p></td>
                        <td>
                            <button onclick="edit_client('<%= client.c_id %>')"><img src="/icons/edit.png" alt=""> </button>
                          </td>
              
                        <td id="border_right">
              
                        <button  onclick="delete_client('<%= client.c_id %>','<%= csrf%>')"> <img src="/icons/delete.png" alt=""></button>
                      </td>
                    
                   
                      
                      </tr>
                      <% }) %>

            </tr>
        </table>
    </div>


    <div id="exercise_table">
        <table >
            <tr>
                <th id="border_left">Name</th>
                <th>Rounds</th>
                <th>Time</th>
                <th>Rest</th>
                <th>Link</th>
                <th>Description</th>
                <th>Edit</th>
                <th id="border_right">Delete</th>
            </tr>

           
                <% excercises.forEach(function(excercise) { %>

    
     
                    <tr>
                      
                     <td id="border_left"><%= excercise.name %></td>
                     <td><%= excercise.rounds %></td>
                     <td><%= excercise.time %></td>
                     <td><%= excercise.rest %></td>
                     <td><%= excercise.link %></td>
                   
                     <td><%= excercise.description %></td>
       
           
                     
                     <td>
                        <button onclick="edit_excercise('<%= excercise.e_id %>')"> <img src="/icons/edit.png" alt=""> </button>
                      </td>
           
                     <td id="border_right">
           
                     <button  onclick="delete_exercise('<%= excercise.e_id %>','<%= csrf %>')"><img src="/icons/delete.png" alt=""></button>
                   </td>
                  
                
                   
                   </tr>
                   <% }) %>

           
        </table>
    </div>


    <div id="workout_table">
        <table>
            <tr>
                <th id="border_left">Name</th>
                <th>Edit</th>
                <th id="border_right">Delete</th>
              
            </tr>
        
        
        
                <% workouts.forEach(function(workout) { %>
        
                    <tr>
                    <td id="border_left"><%= workout.name %></td>
                    <td>
                        <button onclick="edit_workout('<%=workout.w_id %>')"> <img src="/icons/edit.png" alt=""> </button>
                      </td>
                    <td id="border_right">
            
                        <button  onclick="delete_workout('<%= workout.w_id %>','<%= csrf %>')"><img src="/icons/delete.png" alt=""> </button>
                      </td>
                     
                </tr>
                <% }) %>
        
                
        
        </table>
    </div>



    </section>


    <script src="/js/tables.js"></script>
    <script src="/js/client_requests.js"></script>
    <script src="/js/excercise_requests.js"></script>
    <script src="/js/workouts_requests.js"></script>
    <script src="/js/redirect.js"></script>
    <script src="/js/chart.js"></script>

   

 

    
</body>
</html>